<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de Leones - Tibas </title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

   <header class="header-principal">
    <div class="contenedor">
        <div class="logo">
            <img src="recursos/ClubLeonesLogo.png" alt="Logo Club de Leones" height="100">
        </div>
            
            <nav class="menu-navegacion">
                <ul class="menu-principal">
                    <li class="menu-item con-submenu">
                        <a href="#">Direcciones</a>
                        <ul class="submenu">
                            <li><a href="#">Provincias</a></li>
                            <li><a href="#">Cantones</a></li>
                            <li><a href="#">Distritos</a></li>
                        </ul>
                    </li>
                    
                    <li class="menu-item con-submenu">
                        <a href="#">Actividades</a>
                        <ul class="submenu">
                            <li><a href="#">Actividades</a></li>
                            <li><a href="#">Socios registrados a actividades</a></li>
                            <li><a href="#">Tipos de actividad</a></li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="#">Socios</a>
                    </li>

                    <li class="menu-item con-submenu">
                        <a href="#">Tesorería</a>
                        <ul class="submenu">
                            <li><a href="#">Bancos</a></li>
                            <li><a href="#">Cuentas Bancarias</a></li>
                            <li><a href="#">Transacciones</a></li>
                            <li><a href="#">Tipo de Cambio</a></li>
                            <li><a href="#">Tipo de pago</a></li>
                            <li><a href="#">Registro de transacciones</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Bienvenidos al Sistema de Gestión</h1>
            <p>Un espacio para organizar nuestras actividades y registros.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Club de leones Tibas. Todos los derechos reservados.</p>
    </footer>

</body>
</html>